body {
    position: relative;
}

::-moz-selection {
    color: white;
    background: #FF7B7B;
}

::selection {
    color: white;
    background: #FF7B7B;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: lightgrey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .8);
}

.navbar {
    width: 100vw;
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 101;
    transition: all 1s cubic-bezier(0.5, 0.3, 0.1, 0.3);
    height: 100vh;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, Chrome, Edge, Opera and Firefox */
}

.nav {
    transition: .5s;
    height: 170px;
    background-color: black;
}

.messages {
    height: 100%;
    margin-top: 170px;
    display: flex;
    overflow-y: auto;

}

.message-input {
    background-color: white;
    z-index: 100;
    left: 0;
    right: 0;
    margin: auto;
    border-width: 1px 1px 0 1px;
    border-color: black;
    border-style: solid;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 70%;
    border-radius: 90px 90px 0 0;
    padding-left: 50px;
    padding-right: 20px;
}

.message-input input {
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.message-input input:focus {
    outline: none;
}

.message-container {
    padding-bottom: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    outline: none;
}


.message-bubble {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 25px;
    background-color: black;
    border-radius: 40px;
    color: white;
    width: 200px;
    min-height: 50px;
    margin-top: 70px;
    word-break: break-word;
    position: relative;
}

.message-bubble-self {
    background-color: rgba(0, 0, 0, .7);
}


.user-header, .room-header {
    position: fixed;
    top: 10px;
    text-align: right;
    color: #FF7B7B;
    z-index: 1000;
}

.room-header {
    left: 10px;
}

.user-header {
    right: 10px;

}

.message-meta {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    font-size: 10px;
    height: 100%;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: flex-end;
}

.message-bubble .username {
    color: #FF7B7B;
}


.connection-status {
    position: absolute;
    top: -35px;
    z-index: 0;
}

.scroll-bottom {
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.scroll-bottom-arrow {
    color: white;
    font-size: 50px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.scroll-bottom-arrow:hover {
    background-color: rgba(0, 0, 0, .3);
}

.open-menu {
    position: absolute;
    bottom: -5%;
    text-align: center;
    z-index: 1700;
}

.open-menu-arrow {
    cursor: pointer;
    transition: .5s;
    font-size: 35px;
}

.open-menu-arrow:hover {
    transform: translateY(5px);
}

.username-change {
    position: absolute;
    z-index: 1600;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    justify-content: center;
    align-items: center;
}

.username-change label {
    color: white;
}

.username-change input {
    width: 280px;
    height: 60px;
    background-color: white;
    border-radius: 100px;
    border: 1px solid black;
    padding-left: 30px;
}

.username-change input:focus {
    outline: none;
}

.logo-text {
    text-align: center;
    margin-bottom: -25px;
    transition: .5s;
}

.logo-text img {
    cursor: pointer;
}

.logo-subtitle {
    font-family: 'Shrimp';
    font-weight: normal;
    font-style: normal;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}
