{% extends 'base.html' %}
{% block content %}
    {#    What chat room would you like to enter?<br>#}
    {#    <input id="room-name-input" type="text" size="100"><br>#}
    <form method="get" action="{% url 'geochats:room' %}">
        <input id="room-name-submit" type="submit" value="Start">
    </form>
    <script>
        getLocation()

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {

            let lat = position.coords.latitude;
            let long = position.coords.longitude;
            {#alert(lat + ' ' + long)#}
            console.log(lat, long);
            $.ajax({
                type: "GET",
                url: "{% url 'geochats:ajax-location' %}",
                data: {
                    'lat': lat,
                    'lng': long,
                    'time_offset': Intl.DateTimeFormat().resolvedOptions().timeZone,
                },
                success: function (data) {
                    alert("OK")
                },

                dataType: 'json'
            });
        }

    </script>
{% endblock content %}