{% extends 'base.html' %}
{% block content %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    {% load static %}
    {% load geochats_extras %}
    <link rel="stylesheet" href="{% static 'geochats/styles/main.css' %}">
    <span class="user-header">{{ user.username }}#{{ user.id }}</span>
    <span class="room-header">Room <span></span></span>

    <div class="row navbar" id="navbar-main">


        <div class="col-sm-12 nav d-flex justify-content-center align-items-end h-100 pb-5">
            <div class="open-menu">
<span class="material-icons-outlined material-icons open-menu-arrow noselect">
keyboard_arrow_down
</span>
            </div>
            <div class="username-change">
                <label for="username" class="mb-3">Change your username</label>
                <input name="username" placeholder="username">
            </div>
            <div class="logo-text">
                <img src="{% static 'geochats/img/logo.png' %}" class="img-fluid noselect" style="max-height:80px;">
                <div class="logo-subtitle">NEAREST</div>
            </div>
        </div>
    </div>
    <div class="scroll-bottom" id="scroll-bottom-arrow">
<span class="material-icons-outlined material-icons scroll-bottom-arrow">
keyboard_arrow_down
</span>
    </div>
    <div class="container-fluid">
        <div class="row pt-5 messages">
            <div class="offset-sm-3 col-sm-6 message-container" id="chat-log">
                {% for message in messages %}
                    <div class="row w-100">
                        <div class="col-12">
                            <div class="message-bubble">
                                <div class="message-meta">
                                    <div class="username">
                                        {% if message.user %}{{ message.user.username }}#{{ message.user.id }}{% else %}
                                            Anon{% endif %}</div>
                                    <div class="date">{{ message.date|convert_timezone:request.session.timezone|time }}</div>
                                </div>
                                <div>{{ message.text }}</div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row message-input w-sm-100 w-md-75">
            <div class="col-sm-12">
                <span class="connection-status" id="connection-status"></span>
                <input id="chat-message-input" type="text" placeholder="Write a message...">
                <input id="chat-message-submit" type="button" value="Send" class="w-25 mt-3"
                       style="visibility: hidden">
            </div>
        </div>
    </div>
    {#    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>#}

    <script>
        function saveUser(user_id) {
            console.log(user_id, 'sending...')
            $.ajax({
                type: "POST",
                url: "{% url 'geochats:ajax-save-user' %}",
                data: {
                    'user_id': user_id,
                    {#csrfmiddlewaretoken: Cookies.get('csrftoken')#}
                },
                success: function (data) {
                    console.log("user id was successfully save to session storage")
                },

                dataType: 'json'
            });
        }
    </script>
    <script type="text/javascript" src="{% static "geochats/js/websocket-handler.js" %}"></script>
    <script type="text/javascript" src="{% static "geochats/js/script.js" %}"></script>

{% endblock content %}