Django>=3.0,<4.0
# gdal
pyproj
channels
asgi_redis
channels_redis
appdirs==1.4.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
cssselect==1.1.0
distlib==0.3.1
fake-useragent==0.1.11
filelock==3.0.12
html5lib==1.1
idna==2.10
Jinja2==2.11.2
lxml==4.5.2
MarkupSafe==1.1.1
numpy==1.20.1
pandas==1.2.2
parse==1.19.0
pyee==8.1.0
pyppeteer==0.2.5
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyquery==1.4.3
python-dateutil==2.8.1
pytz==2021.1
requests==2.24.0
requests-html==0.10.0
six==1.15.0
soupsieve==2.0.1
tqdm==4.56.2
transliterate==1.10.2
urllib3==1.25.9
virtualenv==20.3.0
w3lib==1.22.0
webencodings==0.5.1
websockets==8.1
psycopg2
django-allauth